extends layout.pug

block content
  .hero
    .grid.grid--container
      .empty
      header.main-header
        .grid.grid--container
          .main-header__top
            .main-header__socials.socials
              a(href="").social
                i.fa.fa-instagram
              a(href="").social
                i.fa.fa-vk
              a(href="").social
                i.fa.fa-odnoklassniki
              a(href="").social
                i.fa.fa-facebook
            .main-header__hash Делитесь своими идеями с хештегом 
              span #проканистру
            a(href="#callback").btn.btn--solid.open-modal Обратная связь
          .main-header__nav.nav
            a(href="#why").nav__link Почему канистра
            a(href="#second-life").nav__link Вторая жизнь
            .nav__link.nav__link--logo
              .logo
            a(href="#where").nav__link Где купить канистру
            a(href="#write").nav__link Пишите нам
      
      header.mobile-header
        .logo
        .mobile-menu-toggle
          span
          span
          span
      .mobile-menu
        .mobile-nav.nav
          a(href="#why").nav__link Почему канистра
          a(href="#second-life").nav__link Вторая жизнь
          a(href="#where").nav__link Где купить канистру
          a(href="#write").nav__link Пишите нам
        .mobile-menu__bottom
          .socials
            a(href="").social
              i.fa.fa-instagram
            a(href="").social
              i.fa.fa-vk
            a(href="").social
              i.fa.fa-odnoklassniki
            a(href="").social
              i.fa.fa-facebook
          a(href="#callback").btn.btn--solid.open-modal Обратная связь

      h1.hero__title Инновационная упаковка
      .hero__slider
        .hero__slide.hero__slide--active
          .row.row--sm-center
            .col.col--sm-3
              h3.h3.hero__subtitle Йогурты
              .hero__taste Земляника-клубника Вишня-черешня
              ul.hero__gost
                li производятся на основе живой йогуртовой закваски
                li содержит только натуральные фруктово-ягодные наполнители
                li имеют низкую калорийность

            .col.col--sm-6.hero__circle-container
              .hero__circle
                .circle-svg
                  svg#svg(version="1.1" xmlns="http://www.w3.org/2000/svg")
                    circle#bar(fill="transparent" stroke-dashoffset="0")
                .hero__img
                  img(src="img/img-1.png", alt="")
                .hero__dots
                  span(data-name="Йогурт")
                  span(data-name="Кефир")
                  span(data-name="Молоко 3.4%-6%")
                  span(data-name="Молоко 2.5%")
                  span(data-name="Ряженка")
                  span(data-name="Снежок")
            .col.col--sm-3
              .hero__right-side.right-side
                .right-side__header Масса НЕТТО
                .right-side__row
                  span 720
                  | граммов
                .right-side__row
                  span 79
                  | ккал
                .right-side__row
                  span 2.5%
                  | жирность

        .hero__slide
          .row.row--sm-center
            .col.col--sm-3
              h3.h3.hero__subtitle Кефир
              ul.hero__gost
                li традиционная технология изготовления по ГОСТ 31454-2012
                li изготавливается из молока и живой закваски 
                li улучшает пищеварение и обмен веществ

            .col.col--sm-6.hero__circle-container
              .hero__circle
                .hero__img
                  img(src="img/img-2.png", alt="")
                .hero__dots
                  span(data-name="Йогурт")
                  span(data-name="Кефир")
                  span(data-name="Молоко 3.4%-6%")
                  span(data-name="Молоко 2.5%")
                  span(data-name="Ряженка")
                  span(data-name="Снежок")
            .col.col--sm-3
              .hero__right-side.right-side
                .right-side__header Масса НЕТТО
                .right-side__row
                  span 720
                  | граммов
                .right-side__row
                  span 50
                  | ккал
                .right-side__row
                  span 2.5%
                  | жирность

        .hero__slide
          .row.row--sm-center
            .col.col--sm-3
              h3.h3.hero__subtitle Молоко 3,4%-6%
              ul.hero__gost
                li производится из свежего коровьего молока
                li не содержит сухое молоко и консерванты 
                li является ценным биологическим продуктом для детей и взрослых

            .col.col--sm-6.hero__circle-container
              .hero__circle
                .hero__img
                  img(src="img/img-3.png", alt="")
                .hero__dots
                  span(data-name="Йогурт")
                  span(data-name="Кефир")
                  span(data-name="Молоко 3.4%-6%")
                  span(data-name="Молоко 2.5%")
                  span(data-name="Ряженка")
                  span(data-name="Снежок")
            .col.col--sm-3
              .hero__right-side.right-side
                .right-side__header Масса НЕТТО
                .right-side__row
                  span 1400/720
                  | граммов
                .right-side__row
                  span 61-84
                  | ккал
                .right-side__row
                  span 3,4%-6%
                  | жирность

        .hero__slide
          .row.row--sm-center
            .col.col--sm-3
              h3.h3.hero__subtitle Молоко 2,5%
              ul.hero__gost
                li выпускается согласно ГОСТ 31450-2013
                li не содержит сухое молоко и консерванты 
                li поставляется с лучших ферм Краснодарского края

            .col.col--sm-6.hero__circle-container
              .hero__circle
                .hero__img
                  img(src="img/img-4.png", alt="")
                .hero__dots
                  span(data-name="Йогурт")
                  span(data-name="Кефир")
                  span(data-name="Молоко 3.4%-6%")
                  span(data-name="Молоко 2.5%")
                  span(data-name="Ряженка")
                  span(data-name="Снежок")
            .col.col--sm-3
              .hero__right-side.right-side
                .right-side__header Масса НЕТТО
                .right-side__row
                  span 1400/720
                  | граммов
                .right-side__row
                  span 53
                  | ккал
                .right-side__row
                  span 2.5%
                  | жирность

        .hero__slide
          .row.row--sm-center
            .col.col--sm-3
              h3.h3.hero__subtitle Ряженка
              ul.hero__gost
                li является полезным молочным продуктом 
                li обладает нежным сливочным вкусом 
                li не содержит консервантов и других искусственных добавок 

            .col.col--sm-6.hero__circle-container
              .hero__circle
                .hero__img
                  img(src="img/img-5.png", alt="")
                .hero__dots
                  span(data-name="Йогурт")
                  span(data-name="Кефир")
                  span(data-name="Молоко 3.4%-6%")
                  span(data-name="Молоко 2.5%")
                  span(data-name="Ряженка")
                  span(data-name="Снежок")
            .col.col--sm-3
              .hero__right-side.right-side
                .right-side__header Масса НЕТТО
                .right-side__row
                  span 720
                  | граммов
                .right-side__row
                  span 57-82
                  | ккал
                .right-side__row
                  span 3,2%-6%
                  | жирность

        .hero__slide
          .row.row--sm-center
            .col.col--sm-3
              h3.h3.hero__subtitle Снежок
              ul.hero__gost
                li выпускается из натурального молока
                li имеет нежный и в меру сладкий вкус
                li полезный кисломолочный продукт для взрослых и детей

            .col.col--sm-6.hero__circle-container
              .hero__circle
                .hero__img
                  img(src="img/img-6.png", alt="")
                .hero__dots
                  span(data-name="Йогурт")
                  span(data-name="Кефир")
                  span(data-name="Молоко 3.4%-6%")
                  span(data-name="Молоко 2.5%")
                  span(data-name="Ряженка")
                  span(data-name="Снежок")
            .col.col--sm-3
              .hero__right-side.right-side
                .right-side__header Масса НЕТТО
                .right-side__row
                  span 720
                  | граммов
                .right-side__row
                  span 75
                  | ккал
                .right-side__row
                  span 2.5%
                  | жирность

  //- .grid.grid--container
  //-   h2.h2#why Почему канистра?
  //-   .video
  //-     iframe(src="https://www.youtube.com/embed/lwzhnfOQcN0?ecver=1" frameborder="0" allowfullscreen)

  //-   .info.info--offset.row.row--sm-center
  //-     .col.col--sm-4.col--lg-2
  //-       img(src="img/info-1.jpg", alt="")
  //-     .col.col--sm-8.col--lg-4.info__text
  //-       .info__header Компактность размеров
  //-       p.info__desc Канистра имеет компактные размеры и легко поместится в холодильнике, не занимая много места
  //-     .col.col--sm-4.col--lg-2
  //-       img(src="img/info-2.jpg", alt="")
  //-     .col.col--sm-8.col--lg-4.info__text
  //-       .info__header Удобство Формы
  //-       p.info__desc Продукты легко наливать через широкое горлышко, а благодаря удобной ручке канистру удобно нести в руках.
  //-   .info.row.row--sm-center
  //-     .col.col--sm-8.col--lg-4.info__text
  //-       .info__header Экологичность
  //-       p.info__desc Канистра выполнена из безопасного и качественного материала, который прекрасно сохраняет свежесть и вкус продукта.
  //-     .col.col--sm-4.col--lg-2
  //-       img(src="img/info-3.jpg", alt="")
  //-     .col.col--sm-8.col--lg-4.info__text
  //-       .info__header Инновационный формат веса
  //-       p.info__desc Полезных и вкусных продуктов теперь хватит на всю семью.
  //-     .col.col--sm-4.col--lg-2
  //-       img(src="img/info-4.jpg", alt="")

  //-   h2.h2#second-life Вторая жизнь канистры
  //-   .subtitle Не спешите выбрасывать канистру! Пустая канистра Вам может пригодиться!
  //-   //- p Поделка из канистры для дачи
  //-   .slider-for
  //-     .video
  //-       iframe(src="https://www.youtube.com/embed/nTxepN_M5JY?ecver=1" frameborder="0" allowfullscreen)
  //-     .video
  //-       iframe(src="https://www.youtube.com/embed/UQ0wTFolXCM?ecver=1" frameborder="0" allowfullscreen)
  //-     .video
  //-       iframe(src="https://www.youtube.com/embed/PGEhRDk44ho?ecver=1" frameborder="0" allowfullscreen)
  //-     .video
  //-       iframe(src="https://www.youtube.com/embed/1CsxfeK2ZTs?ecver=1" frameborder="0" allowfullscreen)
  //-     .video
  //-       iframe(src="https://www.youtube.com/embed/Ah2nYJ3kdVA?ecver=1" frameborder="0" allowfullscreen)
  //-   .slider-nav
  //-     .slide
  //-       img(src="img/для животных.jpg", alt="")
  //-       span Лайфхак для животных: кормушка для птиц
  //-     .slide
  //-       img(src="img/для сада.jpg", alt="")
  //-       span Лайфхак для сада и огорода: садовые инструменты
  //-     .slide
  //-       img(src="img/для мелочи.jpg", alt="")
  //-       span Лайфхак для дома и гаража: коробка под бытовые мелочи
  //-     .slide
  //-       img(src="img/для дома.jpg", alt="")
  //-       span Лайфхак для дома: лейка для полива цветов и держатель для кисточки
  //-     .slide
  //-       img(src="img/для дачи.jpg", alt="")
  //-       span Лайфхак для дачи: горшок для рассады и цветов
  //-   .idea
  //-     .idea__item
  //-       img(src="img/icon-1.jpg", alt="")
  //-     .idea__item
  //-       img(src="img/icon-2.jpg", alt="")
  //-     .idea__item
  //-       img(src="img/icon-3.jpg", alt="")
  //-     .idea__item.idea__item--special
  //-       span Есть свои идеи по использованию канистры?
  //-       .btn.btn--secondary Напишите нам
  //-   h2.h2#where Где купить?
  //-   .row
  //-     .col.col--md-8.col--md-offset-2
  //-       .map-description Продукты в канистре «Кубанский молочник» Вы можете приобрести в следующих городах: Москва, Краснодар, Ростов-на-Дону, Сочи, Новороссийск, Анапа, Геленджик, Севастополь, Ялта , Симферополь и других.
  //-   .map
  //-     .map__slider
  //-       a(href="https://5ka.ru/" target="_blank")
  //-         img(src="img/dealer-1.png", alt="")
  //-       a(href="http://www.okmarket.ru/" target="_blank")
  //-         img(src="img/dealer-2.png", alt="")
  //-       a(href="http://magnit-info.ru/" target="_blank")
  //-         img(src="img/dealer-3.png", alt="")
  //-       a(href="https://www.perekrestok.ru/" target="_blank")
  //-         img(src="img/dealer-4.png", alt="")
  //-       a(href="https://www.tabris.ru/" target="_blank")
  //-         img(src="img/dealer-5.png", alt="")
  //-       a(href="https://www.auchan.ru/" target="_blank")
  //-         img(src="img/dealer-6.png", alt="")
  //-       a(href="http://www.victoria-group.ru/" target="_blank")
  //-         img(src="img/dealer-7.png", alt="")
  //-       a(href="" target="_blank")
  //-         img(src="img/dealer-8.png", alt="")
  //-       a(href="http://www.lenta.com/" target="_blank")
  //-         img(src="img/dealer-9.png", alt="")
  //-       a(href="http://fermach.com/" target="_blank")
  //-         img(src="img/dealer-10.png", alt="")
  //-       a(href="http://ramfood.ru/" target="_blank")
  //-         img(src="img/dealer-11.png", alt="")
  //-       a(href="http://www.alieparusa.ru/" target="_blank")
  //-         img(src="img/dealer-12.png", alt="")

  //- .feedback#write
  //-   h2.h2 Пишите нам!
  //-   .grid.grid--container
  //-     .row
  //-       .col.col--lg-8.col--lg-offset-2
  //-         form#feedback.form
  //-           .row
  //-             .col.col--md-6
  //-               .form-control
  //-                 input(type="text")
  //-                 label Ваше имя
  //-               .form-control
  //-                 input(type="email")
  //-                 label Электронная почта
  //-               .form-control
  //-                 input(type="tel")
  //-                 label Ваш телефон
  //-             .col.col--md-6
  //-               .form-control
  //-                 textarea
  //-                 label Обращение
  //-           .btn-block
  //-             button.btn.btn--secondary Отправить










