doctype html
html(lang="ru")
  head
    meta(charset="utf-8")
    title Кубанский молочник
    meta(name="viewport" content="user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="format-detection" content="telephone=no")
    link(rel="stylesheet", href="styles/css/vendor.css")
    link(rel="stylesheet", href="styles/css/main.css")
  body

    main
      block content

    .parallax
      img(src="img/parallax-1.png", alt="")
      img(src="img/parallax-2.png", alt="")
      img(src="img/parallax-3.png", alt="")
      img(src="img/parallax-4.png", alt="")

    footer.main-footer
      .grid.grid--container
        .row.row--sm-center
          .col.col--sm-5
            p.main-footer__text © 1995—2016 ОАО «Трест «Южный сахар» - производство и реализация натуральных молочных продуктов
          .col.col--sm-4
            .row.row--sm-center.main-footer__img
              .col.col--xs
                a(href="")
                  img(src="img/kuban.png", alt="")
              .col.col--xs
                a(href="http://староминскийсыродел.рф")
                  img(src="img/staromin.png", alt="")
              .col.col--xs
                a(href="http://proficheese.ru/")
                  img(src="img/profi.png", alt="")
          .col.col--sm-3
            .wf
              img(src="img/wf.png", alt="").wf__img
              | Разработка сайта
              a(href="") WF
    
      #callback.modal
        .modal__title Обратная связь
        form.form
          .row
            .col.col--md-6
              .form-control
                input(type="text" pattern="/^$|\s+/")
                label Ваше имя
              .form-control
                input(type="email" pattern="/^$|\s+/")
                label Электронная почта
              .form-control
                input(type="tel" pattern="/^$|\s+/")
                label Ваш телефон
            .col.col--md-6
              .form-control
                textarea(pattern="/^$|\s+/")
                label Обращение
            .col.col--sm-12
              .btn-block
                button.btn.btn--secondary Отправить

    script(src="js/jquery.min.js")
    script(src="js/slick.min.js")
    script(src="js/jquery.magnific-popup.min.js")
    script(src="js/jquery.easeScroll.js")
    script(src="js/jquery.mousewheel.js")
    script(src="js/main.js")