.parallax-container
  position absolute
  top 0

.parallax
  img
    position absolute
    transition transform .1s linear
    &:nth-child(1)
      left (225 / 1560 * 100)vw
      top calc(100vh + 20rem)
    &:nth-child(2)
      right (225 / 1560 * 100)vw
      top 227rem
    &:nth-child(3)
      left (225 / 1560 * 100)vw
      top 366rem
    &:nth-child(4)
      right (225 / 1560 * 100)vw
      top 433rem
