.h1,
.h2,
.h3,
.p,
p
  margin 0
  margin-bottom 1rem

.h1
  font-family $font-header
  font-size 7.2rem
  font-weight 400
  margin-bottom 2rem
.h2
  color $primary
  font-family $font-header
  font-size 5.6rem
  font-weight 400
  line-height 1
  margin-bottom 6rem
  text-align center
  text-transform uppercase

.p
  color rgba($main, .5)
  line-height 2
  margin-bottom 3rem