@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&subset=cyrillic')

@import 'helpers/variables.styl'
@import 'helpers/mixins.styl'
@import 'helpers/helpers.styl'

@import 'base/base.styl'
@import 'base/form.styl'
@import 'base/typography.styl'
@import 'base/animations.styl'
@import 'base/parallax.styl'
@import 'base/modal.styl'

@import 'modifications/modifications.styl'

.grid--container
  max-width 1146px

.row
  margin: 0 -1.5rem 1rem -1.5rem;

.col
  padding 0 1.5rem

.logo
  background url('../../img/logo.png') no-repeat
  background-size contain
  size(147px, 175px)

.hero
  background-color $hero-purple
  color #fff
  margin-bottom 5rem
  padding-bottom 20rem
  position relative
  &:after
    content ''
    background url('../../img/wave.png')
    bottom 0
    left 0
    position absolute
    size(10rem, 100%)
  &--first
    background-color $hero-purple
  &--second
    background-color #196a30
  &--third
    background-color #9a0b1e
  &--4th
    background-color #0039a6
  &--5th
    background-color #e00a03
  &--6th
    background-color #0082c1
  &__title
    font-size 6.8rem
    font-family $font-header
    font-weight 400
    line-height 1
    margin 0
    margin-bottom 3rem
    text-shadow 0px 5px 5px rgba(#192e43, .15)
    text-align center
    text-transform uppercase
  &__circle
    align-items center
    border 2px solid rgba(#fff, .4)
    border-radius 50%
    circle(55.8rem)
    display flex
    justify-content center
    position relative
  &__dots
    span
      background-color #fff
      border-radius 50%
      circle(2rem)
      cursor pointer
      display inline-block
      margin auto
      position absolute
      z-index 20
      &:before
        // background-color teal
        content attr(data-name)
        font-size 2rem
        // left -7.5rem
        line-height 5
        margin auto
        opacity 0
        position absolute
        right 0
        text-align center
        // top -1rem
        transform translate(8.5rem, 1rem)
        transition all .2s
        width 17rem
      &.active
        background-color $secondary
      &:nth-child(1)
        left 0
        right 0
        top -1rem
      &:nth-child(2)
        right 2rem
        top 25%
      &:nth-child(3)
        right 3.2rem
        top 75%
      &:nth-child(4)
        bottom -1rem
        left 0
        right 0
      &:nth-child(5)
        left 3.2rem
        top 75%
      &:nth-child(6)
        left 2rem
        top 25%
      &:hover
        border 4px solid $secondary
        border-radius 50%
        &:before
          opacity 1
          transform translate(8.5rem, -1rem)

  &__img
    position relative
    transform translateX(3rem)
    z-index 5
    &:before
      background url('../../img/gradient-1.png')
      background-size contain
      bottom 0
      content ''
      circle(200%)
      left -55%
      opacity .6
      margin auto
      position absolute
      top 0
      z-index -1
    img
      display none
      max-width 100%
  
  &__subtitle
    font-size 3.6rem
    font-weight 800
    line-height 1
    margin 0
    margin-bottom 1rem
    text-transform uppercase
  &__taste
    font-size 2rem
    font-weight 600
    line-height 1.3
  &__gost
    font-weight 300
    list-style-type none
    opacity .75
    padding-left 2rem
    li
      position relative
      &:before
        content '—'
        left -2rem
        position absolute
  &__right-side.right-side
    padding-left 3rem
    .right-side
      &__header
        font-size 1.8rem
        font-weight 800
        line-height 1
        margin-bottom 1rem
        text-transform uppercase
      &__row
        font-size 1.8rem
        font-weight 600
        span
          font-size 3.2rem
          font-weight 800
          margin-right 1rem
        &:not(:last-child)
          border-bottom $border
  
  &__slide
    display none
    &--active
      display block
      .hero
        &__img
          img
            display block

.empty
  height 20rem

.hero__slider
  position relative

.circle-svg
  right  0
  position absolute
  top 0
  z-index 20
  circle(100%)
  transform rotate(-90deg)

#svg
  circle(100%)
  #bar
    // stroke-dashoffset 0
    stroke-dasharray 200rem
    stroke-dashoffset 160rem
    transition stroke-dashoffset .8s ease
    r 50%
    stroke $secondary
    stroke-width 3px
    // cx 27.9rem
    // cy 27.9rem
    cx 50%
    cy 50%

.main-header
  color #fff
  left 0
  height 13rem
  margin-bottom 8rem
  padding-top 3rem
  position fixed
  top 0
  transition all .2s ease
  width 100%
  z-index 50
  chromefix()
  &__top
    position relative
    .btn
      position absolute
      right 0
      top 0
  .logo
    flex-shrink 0
    max-width 17.5rem
    transform translateY(2rem)
    transition max-width .2s
  &__nav.nav
    align-items flex-end
    display flex
    justify-content space-between
    margin-top -11rem
    .nav
      &__link
        color #fff
        font-size 1.6rem
        font-weight 800
        position relative
        text-decoration none
        text-transform uppercase
        transition all .2s ease
        &:not(.nav__link--logo):hover
          opacity .5
  &__hash
    color rgba(#fff, .4)
    font-size 1.4rem
    margin-top 1rem
    span
      color #fff
  
  &--scroll
    background-color #fff
    box-shadow 2px 0 0 rgba(#000, .2)
    height 7rem
    .main-header
      &__top
        display none
      &__nav.nav
        margin-top -13rem
        .nav
          &__link
            color $primary
        .logo
          max-width 10rem
          transform translateY(10.5rem)





.socials
  .social
    color #fff
    display inline-block
    margin-right 1.2rem
    text-decoration none
    text-align center
    .fa
      border 1px solid rgba(#fff, .4)
      border-radius 50%
      circle(5rem)
      color #fff
      display table-cell
      font-size 2.4rem
      vertical-align middle
      transition all .2s
    &:hover
      .fa
        // background-color rgba(#fff, .1)
        border-color #fff

.btn
  color #fff
  cursor pointer
  border 0
  border-radius $radius
  display inline-block
  line-height 1
  padding 1.5rem 2rem
  text-decoration none
  transition background-color .2s
  &--secondary
    background-color $secondary
    color #fff
    font-size 1.4rem
    padding 1.5rem 3rem
    text-transform uppercase
    &:hover
      background-color $secondary - 15%
  &--solid
    border 1px solid rgba(#fff, .4)
    font-size 1.4rem
    text-transform uppercase
    &:hover
      background-color rgba(#fff, .1)

.subtitle
  font-size 1.8rem
  font-weight 600
  margin-bottom 5.5rem
  margin-top -2rem
  text-align center
  text-transform uppercase
  & + p
    color $primary
    font-size 2.4rem
    font-weight 600
    margin-bottom 3rem
    text-align center

.video
  margin-bottom 12rem
  padding 0 14.5rem
  iframe
    display block
    box-shadow 0px 10px 50px 0px rgb(164, 171, 194)
    size(48rem, 100%)


.slider-nav
  margin 0 -1rem
  margin-top -8rem
  margin-bottom 12rem
  padding 0 14.5rem
  img
    width 100%
  span
    display block
    font-size 1.4rem
    line-height 1.4
    margin-top .8rem
  .slide
    padding 1rem

.info
  margin-bottom 23rem
  overflow hidden
  &__header
    color $primary
    font-size 1.8rem
    font-weight 600
    line-height 1
    margin-bottom 1rem
    text-transform uppercase
  &--offset
    margin-bottom 4.5rem
  img
    max-width 100%


.idea
  align-items center
  border 2px solid $primary
  border-radius 2rem
  display flex
  justify-content space-between
  margin-bottom 12rem
  padding 4rem 10rem
  &__item
    width 25%
    span
      display block
      line-height 1.4
      margin-bottom 2rem
    &--special
      text-align center

.map-description
  font-size 2rem
  font-weight 300
  text-align center

.map
  background url('../../img/map.png') no-repeat center
  background-size contain
  height 40rem
  margin-bottom 14rem
  margin-top 2rem
  &__slider
    padding 0 6.5rem
    transform translateY(16rem)


.feedback
  background-color $primary
  padding 2rem 0
  position relative
  &:before,
  &:after
    background url('../../img/wave-blue.png')
    content ''
    left 0
    position absolute
    size(9rem, 100%)
  &:before
    top -9rem
  &:after
    bottom -9rem
    transform rotate(180deg)
  .h2
    color #fff
    margin-bottom 4rem
  .btn-block
    text-align center


.main-footer
  margin-top 16rem
  padding-bottom 6rem
  .col--sm
    padding 0
  &__text
    font-size 1.4rem
  &__img
    text-align center
    img
      max-width 8rem

.wf
  float right
  font-size 1.4rem
  line-height 1
  &__img
    display inline-block
    max-width 5rem
    margin-right .5rem
    vertical-align middle
  a
    border-bottom 1px solid rgba($primary, .3)
    color $primary
    margin-left .4rem
    text-decoration none



@import 'base/media.styl'


